/*Css do body*/

body {
    background: URL(../imagens/background.jpg);
    background-size: 220vh;
    min-height: 100vh;
}


/* Css do header*/
/*font-family: 'Spartan' salvando essa font para não esquecer de usar ela no main*/

header {
    border-bottom: 2px solid #878181;
}

.titulo {
    font-size: 2em;
    color: #FFFFFF;
    padding: 1em;
    font-family: 'Antonio';
    width: 11%;
}

.botaotopo {
    position: relative;
    left: 55%;
    bottom: 2em;
    width: 42%;
}

.botaotopo input {
    font-size: 1.5em;
    color: #cacaca;
    font-family: 'Antonio';
    left: 58%;
    bottom: 4em;
    background-color: transparent;
    border: none;
}


.botaotopo input:hover {
    color: #9f9f9f;
    font-family: 'Antonio';
    left: 58%;
    bottom: 4em;
    background-color: transparent;
    border: none;
    transition: 00.6s;
}

.botaotopo input:active {
    color: #8e8a8a;
}

/* Css do Main */

.imagem_planeta {
    position: relative;
    left: 35%;
    height: 15em;
    top: 16em;
    color: #FFFFFF;
    font-family: 'Antonio';
}

.dados {
    font-size: 2.5em;
    color: #FFFFFF;
    padding: 1em;
    font-family: 'Antonio';
    width: 11%;
    position: relative;
    left: 10%;
    top: 6em;
}
#nomeplaneta {
    font-size: 4em;
    color: #e0d6d6;
    padding: 1em;
    font-family: 'Antonio';
    width: 11%;
    position: relative;
    top: 4em;
    left: 60%;
    
}

.listaplaneta {
    position: relative;
    width: 100%;
    top: 16em;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.listaplaneta li {
    border: 2px solid #878181;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;

}

.listaplaneta p {
    color: #878181;
    font-size: 1em;
    font-family: 'Antonio';
    padding: 0 0 1em 0;

}

.listaplaneta span {
    color: #FFFFFF;
    font-size: 1.5em;
    color: #FFFFFF;
    padding: 1em;
    font-family: 'Antonio';
    border: 2px #CCCCCC;
    
}