/*Css do body*/

body {
    background: URL(../imagens/background.jpg);
    background-size: 220vh;
    min-height: 100vh;
}


/* Css do header*/
/*font-family: 'Spartan' salvando essa font para não esquecer de usar ela no main*/


.titulo {
    font-size: 2em;
    color: #FFFFFF;
    padding: 1em;
    font-family: 'Antonio';
    width: 11%;
}

.botaotopo {
    position: relative;
    left: 60%;
    bottom: 2em;
    width: 35%;
}

.botaotopo input {
    font-size: 1em;
    color: #cacaca;
    font-family: 'Antonio';
    left: 58%;
    bottom: 4em;
    background-color: transparent;
    border: none;
}


.botaotopo input:hover {
    font-size: 1.1em;
    color: #1ce2d8;
    font-family: 'Antonio';
    left: 58%;
    bottom: 4em;
    background-color: transparent;
    border: none;
    transition: 00.6s;
}

.botaotopo input:active {
    color: #1ce286;
}

.dadosplaneta {
    font-size: 2em;
    color: #FFFFFF;
    padding: 1em;
    font-family: 'Antonio';
    width: 11%;
}
#nomeplaneta {
    font-size: 2em;
    color: #FFFFFF;
    padding: 1em;
    font-family: 'Antonio';
    width: 11%;
}